@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Dosis:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Dosis:wght@400;500&family=Kalam:wght@300;400&display=swap');

body{
    background-image:url('img/background.jpg');
    background-size: cover;
    width: 100%;
    font-family: 'Kalam', cursive;
}

h1{
    text-align: center;
    margin-top: 1em;
}

p, ul, ol{
    font-size: 1em;
    font-weight: bold;
}

a{
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
}

a:hover{
    color: #AA8B56;
    text-shadow: 2px 2px 2px darkgray;
}

img {
    width: 200px;
    height: auto;
    margin-bottom: 0.1em;
}

footer{
    padding-top: 0.5em;
    border-top: 2px solid black;
    text-align: center;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wrapper2{
    display: grid;
    grid-template-columns: 1fr;
}

#main-wrapper{
    display:grid;
    grid-template-columns: 1fr;
    width: 60%;
    height: 35em;
    margin-top: 3%;
    margin-left: 20%;
    border: 0.5em solid black;
    border-radius: 20px;
    text-align: center;
}

#title{
    font-size: 4em;
    font-family: 'Clicker Script', cursive;
}

#section{
    margin-top: 1.5em;
    color: #395144;
}